.App {
  text-align: center;
}

.meme {
  display: flex;
  justify-content: center;
}
 .linea1 {
   position: absolute;
   font-size: 45px;
   top: 100px;
   text-shadow:black 0 0 5px;
   color: white;
 }
 .linea2 {
  position: absolute;
  font-size: 45px;
  bottom: 100px;
  text-shadow:black 0 0 5px;
  color: white;
}